<div class="container" *ngIf="selectedProduct">
  <img class="detail-image" src="{{selectedProduct.imageUrl}}" alt="">
  <div class="detail-data">
    <h2 appMultiColor>{{selectedProduct.name}}</h2>
    <p>Categoria: {{selectedProduct.category}}</p>
    <p>{{selectedProduct.description}}</p>
    <p>Prezzo: {{selectedProduct.price | currency: "€"}}</p>
    <p>Quantità: {{selectedProduct.quantity}}</p>
    <button (click)="addToCart()" *ngIf="userS.user" appMultiColor>Aggiungi al carrello</button>
    <button routerLink="/login"  *ngIf="!userS.user">Fai login per acquistare</button>
    <!-- <button>{{userS.user? "ciao utente" : "niente utente"}}</button> -->
  </div>

</div>
