header{
  background-color: crimson;
  color: white;
  padding: 32px;
}

footer{
  background-color: #313131;
  color: white;
  padding: 16px;
}

nav{
  display:flex;
  gap: 8px;
}

nav a{
  color: white;
  font-size: large;

}
