<div class="container" >
  <div>
    <input id="search-input" type="text"><button (click)="search()">OK</button>
    <select name="" id="">
      <option value="">tutti i prodotti</option>
      <option value="">tavole</option>
      <option value="">mute</option>
      <option value="">abbigliamento</option>
    </select>
    <button>Ordina per prezzo</button>
    <button>Ordina alfabeticamente</button>
    <button (click)="getAllProducts()">annulla</button>
  </div>
  <app-product-card *ngFor="let product of products" [selectedProduct]="product"></app-product-card>
</div>
